.RegisterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 70px 0 0;
  background-color: #E9EBEE;
}

.RegisterForm input {
  width: 230px;
  height: 30px;
  margin: 0 auto 12px;
  padding: 8px 10px;
  border: 1px solid #DDDFE2;
  outline: none;
  color: #1D2129;
  font-size: 17px;
}

.RegisterForm button {
  border: 1px solid;
  border-color: #3B6E22 #3B6E22 #2C5115;
  background: linear-gradient(#67AE55, #578843);
  background-color: #69A74E;
  box-shadow: inset 0 1px 1px #A4E388;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  padding: 0 16px;
  border-radius: 2px;
  outline: 0;
  color: #FFF;
  height: 34px;
  cursor: pointer;
}
